* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.search-bar-icon {
  width: 300px; 
  border-radius: 18px;
  text-align: center;
  border: solid 2px white;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.search-bar-input {
  height: 42px;
  width: 260px;
  text-align: center;
  border-radius: 18px 0 0 18px;
} 

.search-button {
  border-radius: 18px;
  background-color: black;
  border: none;
  width: 35px;
  align-items: center;
}

.search-button img {
  border-radius: 15px;
  width: 25px;
}

.icon {
  width: 229px;
  display: flex;
  justify-content: space-between;
}

.icon h3 {
  margin-top: 20px;
}

.profile img {
  width: 60px;
  height: 60px;
}
