* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.search-bar-icon {
  width: 300px;
  border-radius: 18px;
  text-align: center;
  border: solid 2px white;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.search-bar-input {
  height: 42px;
  width: 260px;
  text-align: center;
  border-radius: 18px 0 0 18px;
}

.search-button {
  border-radius: 18px;
  background-color: black;
  border: none;
  width: 35px;
  align-items: center;
}

.search-button img {
  border-radius: 15px;
  width: 25px;
}

.navbar_title {
  width: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.navbar_title h2 {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
}

.profile img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 10px;
}

.carousel {
  margin-top: 13px;
  width: 950px;
  box-shadow: 0 0 20px  white;
  border:2px solid black;

}

.carousel-inner img {
  height: 600px;
  object-fit: cover;
}

.sliderCotainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstImage {
  border: 1px solid black;
  width: 20px;
  height: 50px;
}

.imageContainer {
  width: 300px;
  height: auto;
}

.imageContainer1 {
  width: 300px;
  height: auto;
  margin-left: 100px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
   width: 18%;
  text-align: center;
   padding: 10px;
}

.imageContainer1:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px white;
}

.imageContainer2 {
  width: 300px;
  height: auto;
  margin-right: 100px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
  width: 18%;
    text-align: center;
    padding: 10px;
}


.imageContainer2:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px white;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.movie-card {
  width: 18%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
  margin-left:20px;
}
.movie-card  img{
  height:350x;

}

.movie-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px white;
}

.footer-container {
  background-color: #222222;
  color: white;
  padding: 20px 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  width: 22%;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-heading {
  font-size: 16px;
  margin-bottom: 10px;
  color: #f8f8f8;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  margin-bottom: 5px;
  font-size: 14px;
}

.justujuImage img {
  height: 120px;
  width: 330px;
  object-fit: cover;
  padding-right: 20px;
}

.footer-list li:hover {
  color: #bbb;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  border-top: 1px solid #444;
  margin-top: 10px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:Jet Black;
}

.modalContent {
  background: pink;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #FFD700;
  width: 900px;
  height: 700px;
}

.modalContent:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px black;
}

.close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.poster {
  width: 200px;
}

.genre,
.director,
.plot,
.year,
.rating,
.writer,
.language {
  font-weight: bold;
  margin-top: 5px;
}

.heading {
  text-align: center;
  font-weight: bold;
}
